{% extends 'base.html'%}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block css %} {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}"> {% endblock %}

</head>

<body>
    {% block content %}
    <div class="container">
        <!-- Business News Section  -->
        <h1 class="header"> Top News Sources</h1>
        <hr> {% for source in sources %}
        <div class="row border">
            <h3>{{source.id}}</h3>
            <p>{{source.description}}</p>
            <a class="nav-link active" href="/source/{{source.id}}">Read articles</a>
        </div>


        {% endfor %}



    </div>


    {% endblock %}






</body>

</html>